/* Navbar container */
.navb {
  background-color: #a1b7f3;
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

.nav-tabs {
  font-size: 13px;
  border-bottom: none;
}

/* .custom-class {
  margin-left: auto;
} */
.nav-item ul {
  text-decoration: none;
}
/* Logo styles */
.logo img {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-left: 10px; /* Adjust the margin as needed for spacing */
  border-radius: 3px;
}
