/* Navbar container */
.navb {
  background-color: #a1b7f3;
  overflow: hidden;
  display: flex;
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

.nav-tabs {
  font-size: 13px;
  border-bottom: none;
}

.nav-link.hov.logout-active {
  /* Your custom styles for the active state */
  background-color: transparent; /* You can adjust this style as needed */
  color: purple; /* Change the color to match your button style */
  border-color: #a1b7f3;
}

/* .custom-class {
  background-color: #a1b7f3;
} */

.nav-item ul {
  text-decoration: none;
}
/* Logo styles */
.logo img {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  margin-left: 10px; /* Adjust the margin as needed for spacing */
  border-radius: 3px;
}
