.card1 {
  height: 40vh;
  border: 0;
  border-radius: 1em;
  color: #fff;
  box-shadow: 5px 5px 10px #e1e1e1;
  padding: 1.5em 0;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
  background: linear-gradient(to left, #6687e1 50%, rgb(151, 74, 151) 50%);
  background-size: 200%;
  background-position: right;
  transition: background-position 0.5s ease-out;
}

.card1:hover {
  background-position: left;
}
